In [20]:
#table Printer program

tableData = [['apples','oranges','cherries','bananas'],
             ['Alice','Bob','Carol','David'],
             ['dogs','cats','moose','goose']]

In [7]:
for data in tableData:
    print(len(data))

4
4
4

In [10]:
colWidths = [0]*len(tableData)

In [12]:
colWidths[0] = tableData[0]

In [36]:
for colWidths in tableData:
    print(colWidths)

['apples', 'oranges', 'cherries', 'bananas']
['Alice', 'Bob', 'Carol', 'David']
['dogs', 'cats', 'moose', 'goose']

In [16]:
print('\n'.join([str(data) for data in tableData]))

['apples', 'oranges', 'cherries', 'bananas']
['Alice', 'Bob', 'Carol', 'David']
['dogs', 'cats', 'moose', 'goose']

In [25]:
for data in tableData:
    for each_element in data:
        print(each_element)
    print()

apples
oranges
cherries
bananas

Alice
Bob
Carol
David

dogs
cats
moose
goose

In [35]:
table_len = len(tableData[0])

for i in range(len(tableData)):
    for j in range(table_len):
        print(tableData[i][j])
    
    print()

apples

oranges

cherries

bananas


Alice

Bob

Carol

David


dogs

cats

moose

goose

In [39]:
zip(*[['apples','oranges','cherries','bananas'],
             ['Alice','Bob','Carol','David'],
             ['dogs','cats','moose','goose']])

In [49]:
#table Printer program

tableData = [['apples','oranges','cherries','bananas'],
             ['Alice','Bob','Carol','David'],
             ['dogs','cats','moose','goose']]

In [58]:
for first_list , second_list , third_list in zip(*tableData):
    print(first_list.rjust(10),second_list.rjust(10),third_list.rjust(10))

    apples      Alice       dogs
   oranges        Bob       cats
  cherries      Carol      moose
   bananas      David      goose

In [43]:
fruits = ['apples','oranges','cherries','bananas']

In [53]:
max(tableData[0],key=len)

'cherries'